<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inhatc.mapper.MojukMapper">

	<select id="listview" resultType="com.inhatc.domain.MojukVO">
 <![CDATA[
 select 
   cnum,depart,username,comp,soci 
 from 
   tbl_user 
 where cnum > 0 
 order by cnum asc
 ]]>
	</select>
	
	<select id="read" resultType="com.inhatc.domain.MojukVO">
		select
		cnum, depart, username
		from
		tbl_user
		where cnum = #{cnum}
	</select>

	<update id="update">
		update tbl_1in set video1_in = #{video1_in},
		guide1_in = #{guide1_in},
		tukgang1_in = #{tukgang1_in},
		jindan1_in = #{jindan1_in}
		where
		cnum= #{cnum}
		</update>
	
	<update id="update2">
		update tbl_2in set pom2_in = #{pom2_in},
		soc2_in = #{soc2_in},
		wow2_in = #{wow2_in}
		where
		cnum= #{cnum}
	</update>
	
	<update id="update3">
		update tbl_3in set toc3_in = #{toc3_in},
		fly3_in = #{fly3_in},
		flyup3_in = #{flyup3_in}
		where
		cnum= #{cnum}
	</update>

	<select id="listAll" resultType="com.inhatc.domain.MojukVO">
<![CDATA[
		select
		tbl_1in.video1_in, 
		tbl_1in.guide1_in,
		tbl_1in.tukgang1_in,
		tbl_1in.jindan1_in,
		tbl_2in.pom2_in,
		tbl_2in.soc2_in,
		tbl_2in.wow2_in,
		tbl_3in.toc3_in,
		tbl_3in.fly3_in,
		tbl_3in.flyup3_in
		from tbl_1in
		left outer join tbl_2in
		on tbl_1in.cnum = tbl_2in.cnum
		left outer join tbl_3in
		on tbl_1in.cnum = tbl_3in.cnum
		where tbl_1in.cnum= #{cnum}
		
]]>
	</select>
	
	<!-- <delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete> -->
	
	<!-- <select id="getTime" resultType="string">
		select now()
	</select>

	<insert id="insertMojuk">
		insert into tbl_1in (cnum , video1_in , guide1_in ,
		tukgang1_in , jindan1_in) values
		(#{cnum}, #{video1_in}, #{guide1_in},
		#{tukgang1_in},
		#{jindan1_in})
	</insert> -->
</mapper>